.all_reviews[data-v-5fde7f3a] { 
    align-items: stretch; 
    display: flex; 
    flex-direction: column; 
    gap: 30px; 
    justify-content: flex-start;
} 

.all_reviews[data-v-ef4df5c3]  { 
    width: 70%;
} 

.post_preview[data-v-de82ba65] { 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1); 
    position: relative; 
    width: 100%;
} 

.post_preview[data-v-de82ba65] { 
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 3px 6px #0000001a; 
    position: relative; 
    width: 100%;
} 

.category_content a { 
    color: #ff2e64; 
    cursor: pointer; 
    text-decoration: none; 
    transition: color .2s;
} 

.post_preview .post_img_pr[data-v-de82ba65]  { 
    background-size: cover!important; 
    border-radius: 10px 10px 0 0; 
    cursor: pointer; 
    display: block; 
    height: 250px; 
    overflow: hidden; 
    position: relative; 
    width: 100%;
} 

.post_preview .post_img_pr.webcam[data-v-de82ba65]  { 
    background: url(./../../../images/webcam_card.png) 50% no-repeat;
} 

.category_content a:hover { 
    color: #f2124c;
} 

.category_content a:hover, .category_content span.link:hover, .content a:hover, .content span.link:hover { 
    color: #f2124c;
} 

.post_preview .info[data-v-de82ba65]  { 
    align-items: center; 
    box-shadow: 0 4px 16px -10px rgba(0,0,0,.35); 
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
} 

.post_preview .info[data-v-de82ba65]  { 
    align-items: center; 
    box-shadow: 0 4px 16px -10px #00000059; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
} 

.post_preview .info_second[data-v-de82ba65]  { 
    align-items: center; 
    display: flex; 
    height: 156px; 
    justify-content: center;
} 

.post_preview .post_img_pr .filter[data-v-de82ba65]  { 
    align-items: center; 
    background: radial-gradient(106.37% 106.37% at 50% 0,rgba(255,46,100,.4) 0,rgba(80,42,183,.4) 100%); 
    display: flex; 
    height: 100%; 
    justify-content: center; 
    left: 0; 
    padding: 0 15px; 
    position: absolute; 
    top: 0; 
    width: 100%;
} 

.post_preview .post_img_pr .filter[data-v-de82ba65]  { 
    align-items: center; 
    background: radial-gradient(106.37% 106.37% at 50% 0,#ff2e6466 0,#502ab766); 
    display: flex; 
    height: 100%; 
    justify-content: center; 
    left: 0; 
    padding: 0 15px; 
    position: absolute; 
    top: 0; 
    width: 100%;
} 

.post_preview .info .second_block[data-v-de82ba65]  { 
    display: flex;
} 

.post_preview .info_second .block[data-v-de82ba65]  { 
    border-right: 1px solid #dcdcdc; 
    height: 100%; 
    text-align: center; 
    width: 25%;
} 

.post_preview .info_second .block.online[data-v-de82ba65]  { 
    position: relative;
} 

.post_preview .info_second .block[data-v-de82ba65]:last-child  { 
    border-right: none;
} 

.post_preview .post_img_pr .filter .title_logo[data-v-de82ba65]  { 
    color: #fff; 
    font-family: Leckerli One,cursive; 
    font-size: 60px; 
    font-style: normal; 
    font-weight: 400; 
    letter-spacing: 1px; 
    line-height: 62px; 
    position: relative; 
    text-align: center; 
    word-break: break-all; 
    z-index: 0;
} 

.post_preview .post_img_pr .filter .title_logo[data-v-de82ba65]::before { 
    content: attr(data-text); 
    position: absolute; 
    -webkit-text-stroke: 8px rgba(255,46,100,.8); 
    color: rgba(255,46,100,.9); 
    left: 0; 
    text-shadow: 0 2px 1px rgba(0,0,0,.4); 
    top: 0; 
    z-index: -1;
} 

.post_preview .post_img_pr .filter .title_logo[data-v-de82ba65]::before { 
    content: attr(data-text); 
    position: absolute; 
    -webkit-text-stroke: 8px rgba(255,46,100,.8); 
    color: #ff2e64e6; 
    left: 0; 
    text-shadow: 0 2px 1px rgba(0,0,0,.4); 
    top: 0; 
    z-index: -1;
} 

.post_preview .info .first_block .title[data-v-de82ba65]  { 
    color: #333; 
    cursor: pointer; 
    display: block; 
    font-size: 24px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1.1px; 
    line-height: normal; 
    margin-bottom: 15px; 
    text-decoration: none;
} 

.post_preview .info .first_block .title[data-v-de82ba65]:hover { 
    color: #ff1652;
} 

.stars-wrapper[data-v-d9c24a74] { 
    align-items: center; 
    display: flex;
} 

.btn_pink { 
    background-color: #fe3367; 
    border-radius: 60px; 
    box-shadow: 0 3px 10px 0 rgba(254,51,103,.5); 
    color: #fff; 
    cursor: pointer; 
    display: block; 
    font-family: Montserrat,sans-serif; 
    font-size: 12px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    height: 42px; 
    letter-spacing: 1px; 
    line-height: 42px; 
    text-align: center; 
    text-decoration: none; 
    text-transform: uppercase; 
    width: 160px;
} 

.btn_pink { 
    background-color: #fe3367; 
    border-radius: 60px; 
    box-shadow: 0 3px 10px #fe336780; 
    color: #fff; 
    cursor: pointer; 
    display: block; 
    font-family: Montserrat,sans-serif; 
    font-size: 12px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    height: 42px; 
    letter-spacing: 1px; 
    line-height: 42px; 
    text-align: center; 
    text-decoration: none; 
    text-transform: uppercase; 
    width: 160px;
} 

.post_preview .info .second_block .btn_pink[data-v-de82ba65]  { 
    color: #fff; 
    margin-right: 20px;
} 

.btn_pink:hover { 
    background-color: #ff1652; 
    color: #fff;
} 

.post_preview .info .second_block .btn_pink[data-v-de82ba65]:hover { 
    color: #fff;
} 

.read_btn { 
    border: 2px solid #ff2e64; 
    border-radius: 60px; 
    color: #ff2e64; 
    cursor: pointer; 
    display: block; 
    font-size: 12px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    height: 42px; 
    letter-spacing: 1px; 
    line-height: 40px; 
    text-align: center; 
    text-decoration: none; 
    text-transform: uppercase; 
    width: 160px;
} 

.read_btn:hover { 
    border: 3px solid #ff2e64; 
    line-height: 38px;
} 

.post_preview .info_second .block .header[data-v-de82ba65]  { 
    font-size: 14px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 600; 
    letter-spacing: 1px; 
    line-height: normal; 
    padding: 40px 0 32px; 
    text-transform: uppercase;
} 

.post_preview .info_second .block .text[data-v-de82ba65]  { 
    font-size: 24px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1.5px; 
    line-height: 24px;
} 

.post_preview .info_second .block.online .text[data-v-de82ba65]::before { 
    background-color: #63dc08; 
    border-radius: 5px; 
    bottom: 3px; 
    content: ""; 
    display: inline-block; 
    height: 10px; 
    position: relative; 
    width: 10px;
} 

.post_preview .info_second .block.online .info_popup[data-v-de82ba65]  { 
    left: 15px; 
    position: absolute; 
    top: 15px;
} 

.post_preview .info_second .block.gender .text[data-v-de82ba65]  { 
    align-items: center; 
    display: flex; 
    justify-content: center;
} 

.stars-wrapper .info[data-v-d9c24a74]  { 
    display: flex;
} 

.post_preview .info_second .block.online .info_popup .image[data-v-de82ba65]  { 
    background: url(./../../../images/info.png) 50% no-repeat; 
    background-size: contain; 
    cursor: pointer; 
    height: 15px; 
    width: 15px;
} 

.post_preview .info_second .block.online .info_popup .adv_content[data-v-de82ba65]  { 
    background: #f8f8f9; 
    border-radius: 8px; 
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.1); 
    color: #333; 
    display: none; 
    font-size: 14px; 
    line-height: 20px; 
    margin-bottom: 8px; 
    padding: 10px; 
    position: absolute; 
    text-align: left; 
    top: 25px; 
    transition: height .7s ease-out; 
    width: 200px; 
    z-index: 10;
} 

.post_preview .info_second .block.online .info_popup .adv_content[data-v-de82ba65]  { 
    background: #f8f8f9; 
    border-radius: 8px; 
    box-shadow: 0 3px 6px #0000001a; 
    color: #333; 
    display: none; 
    font-size: 14px; 
    line-height: 20px; 
    margin-bottom: 8px; 
    padding: 10px; 
    position: absolute; 
    text-align: left; 
    top: 25px; 
    transition: height .7s ease-out; 
    width: 200px; 
    z-index: 10;
} 

.post_preview .info_second .block.online .info_popup .adv_content[data-v-de82ba65]::before { 
    border-bottom: 8px solid #f8f8f9; 
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    content: ""; 
    height: 0; 
    left: 2px; 
    position: absolute; 
    top: -5px; 
    width: 0;
} 

.post_preview .info_second .block .text .percent[data-v-de82ba65]  { 
    font-size: 16px; 
    letter-spacing: normal;
} 

.post_preview .info_second .block.gender .text .men[data-v-de82ba65]  { 
    margin-right: 15px;
} 

.post_preview .info_second .block.gender .text .men[data-v-de82ba65]::before { 
    content: url(./../../../images/man_pink.svg); 
    height: 20px; 
    width: 20px;
} 

.post_preview .info_second .block.gender .text .women[data-v-de82ba65]::before { 
    content: url(./../../../images/woman.svg); 
    height: 20px; 
    width: 20px;
} 

.post_preview .info_second .block.safety .text span[data-v-de82ba65]  { 
    color: #aaa; 
    font-size: 16px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 700; 
    letter-spacing: 1.5px; 
    line-height: normal; 
    text-align: center;
} 

.stars-wrapper .info .score[data-v-d9c24a74]  { 
    color: #121212; 
    font-size: 17px; 
    font-stretch: normal; 
    font-style: normal; 
    font-weight: 600; 
    letter-spacing: normal; 
    line-height: normal;
} 

.stars-wrapper .info .stars[data-v-d9c24a74]  { 
    display: flex; 
    margin: -6px 0 0 8px;
} 

.post_preview .info_second .block.online .info_popup .adv_content .close[data-v-de82ba65]  { 
    color: #fe3367; 
    cursor: pointer; 
    font-size: 16px; 
    position: absolute; 
    right: 3px; 
    top: 0;
} 

.stars-wrapper .info .stars span[data-v-d9c24a74]  { 
    height: 19px; 
    margin-right: 3px; 
    position: relative; 
    width: 20px;
} 

.stars-wrapper .info .stars:not(.rated) span[data-v-d9c24a74]  { 
    cursor: pointer;
} 

.stars-wrapper .info .stars span[data-v-d9c24a74]::before { 
    color: #ff8a2c; 
    content: "★"; 
    font-size: 18px;
}

.stars-wrapper .info .stars span.empty[data-v-d9c24a74]:before {
    color: #ff8a2c;
    content: "☆";
    font-size: 18px;
}