:root {
    --cr-accent-color: #e65572;
    --cr-accent-color-light: #ff87a4;
    --cr-accent-color-rgb: 230, 85, 114;
    --cr-secondary-color: #5c97fd;
    --cr-secondary-color-light: #8ec9ff;
    --cr-secondary-color-rgb: 92, 151, 253;
    --cr-btn-text-color: #FFFFFF;
    --cr-bar-bg-color: #FFFFFF;
    --cr-bar-text-color: #5c97fd;
    --cr-fixed-bar-bg-color: #ffffff;
    --cr-fixed-bar-link-color: #5c97fd;
}
.shortcode-wp_cr-table-style-23 {
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
}
.shortcode-wp_cr-rating-table {
    text-align: left;
    font-style: normal;
    box-sizing: border-box;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 8px;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_editors-choice {
    position: relative;
    padding: 5px 8px;
    color: #fff;
    background-color: var(--cr-secondary-color);
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    max-width: 220px;
    text-align: center;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_editors-choice:after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    bottom: -7px;
    width: 0;
    height: 0;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-top: 10px solid var(--cr-secondary-color);
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_rating-meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 4px 0;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_reviews-updated {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .03em;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_reviews-updated svg {
    flex: 1 0 auto;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list {
    border-radius: 15px;
    border: 1px solid #d5dcf0;
    background-color: #fff;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item.shortcode-wp_highlight {
    border-radius: 15px;
    border: 1px solid var(--cr-secondary-color);
    background-color: rgba(var(--cr-secondary-color-rgb), 0.15);
    box-shadow: 0 4px 12px rgba(var(--cr-secondary-color-rgb), 0.3);
    position: relative;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item {
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
}
.shortcode-wp_cr-rating-table .shortcode-wp_review-item {
    background: #fff;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo.shortcode-wp_type-logo {
    padding: 20px;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item.shortcode-wp_highlight .shortcode-wp_review-info-block, .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item.shortcode-wp_highlight .shortcode-wp_review-item-logo {
    background: #fff;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo {
    flex: 1 1 215px;
    background: #f7f7f7;
    border: 1px solid #c2c9dc;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo .shortcode-wp_cr-logotype-logo {
    object-fit: contain;
    max-height: 50px;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo img {
    display: block;
    height: auto;
    width: 100%;
    transition: opacity .3s;
}
.shortcode-wp_cr-rating-table img {
    max-width: 100%;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block.shortcode-wp_rating-block {
    flex: 1 1 215px;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block {
    flex: 0 0 auto;
    padding: 10px 15px 20px;
    background: #f7f7f7;
    color: #403e4c;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.4;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 15px;
    min-width: max-content;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_tip {
    flex: 0 0 auto;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #dddfe0;
    transition: background-color .3s;
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_rating {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.shortcode-wp_cr-rating-stars {
    position: relative;
    width: 98px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61 51.9'%3E%3Cpolygon points='26.9,0 35.3,16.9 53.9,19.6 40.4,32.7 43.6,51.2 26.9,42.5 10.3,51.2 13.5,32.7 0,19.6 18.6,16.9' fill='%23ddd'/%3E%3C/svg%3E");
}
.shortcode-wp_cr-rating-stars .shortcode-wp_fill {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 61 51.9'%3E%3Cpolygon points='26.9,0 35.3,16.9 53.9,19.6 40.4,32.7 43.6,51.2 26.9,42.5 10.3,51.2 13.5,32.7 0,19.6 18.6,16.9' fill='%23F0CE4A'/%3E%3C/svg%3E");
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_user-rating {
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-buttons {
    flex: 1 1 180px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-buttons .shortcode-wp_cr-btn {
    width: 100%;
}
.shortcode-wp_cr-btn.shortcode-wp_small-rounded {
    border-radius: 4px;
}
.shortcode-wp_cr-btn {
    display: inline-block;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: normal;
    white-space: nowrap;
    transition: background .3s;
    border: none;
    cursor: pointer;
    min-width: 110px;
    background: var(--cr-accent-color);
    color: var(--cr-btn-text-color);
    outline: unset;
}
.shortcode-wp_cr-btn.shortcode-wp_cr-btn-plain {
    padding: 0;
    display: none;
    text-align: left;
    text-transform: none;
    background: rgba(0, 0, 0, 0);
    color: var(--cr-accent-color);
    min-width: 0;
}
.shortcode-wp_cr-btn.shortcode-wp_small-rounded {
    border-radius: 4px;
}
.shortcode-wp_ct-section-content .shortcode-wp_ct-content h2 {
    font-size: 26px;
    line-height: 42px;
    margin-top: 30px;
    margin-bottom: 16px;
}
.shortcode-wp_ct-section-content .shortcode-wp_ct-content p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}
.shortcode-wp_cpm-toc-nav {
    position: relative;
    display: block;
    width: 100%;
    font-weight: normal;
    background: var(--ct-content-blocks-bg-color);
    color: var(--ct-content-text-color);
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(var(--ct-color-primary-rgb), 0.15);
    user-select: none;
    margin-bottom: 20px;
}
.shortcode-wp_cpm-toc-nav .shortcode-wp_cpm-toc-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: color .3s;
    font-size: 16px;
    line-height: 1.3;
    font-weight: bold;
}
.shortcode-wp_cpm-toc-nav .shortcode-wp_cpm-toc-title .shortcode-wp_cpm-icon-chevron {
    display: block;
    width: 16px;
    height: 16px;
    transition: transform .3s;
}
.shortcode-wp_cpm-toc-nav ol.shortcode-wp_cpm-toc-list {
    padding-bottom: 20px;
    font-size: 15px;
    display: none;
    padding-left: 0;
}
.shortcode-wp_ct-section-content .shortcode-wp_ct-content ol {
    list-style: decimal;
}
.shortcode-wp_ct-section-content .shortcode-wp_ct-content ul, .shortcode-wp_ct-section-content .shortcode-wp_ct-content ol {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    padding-left: 30px;
}
.shortcode-wp_cpm-toc-nav ol.shortcode-wp_cpm-toc-list li {
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shortcode-wp_cpm-toc-nav ol.shortcode-wp_cpm-toc-list>li {
    display: block;
    border-top: 1px solid rgba(var(--ct-color-primary-rgb), 0.1);
    position: relative;
    margin: 0 0 8px;
    list-style: none;
    counter-increment: ol-number;
    padding: 8px 0 0 20px;
}
.shortcode-wp_cpm-toc-nav ol.shortcode-wp_cpm-toc-list a {
    color: var(--ct-content-text-color);
    font-weight: normal;
}
.shortcode-wp_ct-section-content .shortcode-wp_ct-content a {
    color: var(--ct-content-link-color);
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: all .15s;
}

/* Mobile  */
@media (max-width: 600px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_table-head  { 
    flex-direction: column-reverse; 
    align-items: flex-start; 
    gap: 16px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_table-head .shortcode-wp_rating-meta  { 
    flex-direction: column; 
    align-items: flex-start; 
    gap: 4px; 
    padding: 0;
  } 
}     

@media (max-width: 700px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item  { 
    gap: 12px;
  } 
}     

@media (max-width: 600px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item  { 
    padding: 20px 15px; 
    flex-wrap: wrap; 
    gap: 12px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item.highlight  { 
    padding: 25px 15px; 
    margin-bottom: 15px;
  } 
}     

@media (max-width: 700px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo  { 
    flex: 1 1 150px;
  } 
}     

@media (max-width: 600px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-item-logo  { 
    flex: 0 0 100%;
  } 
}     

@media (max-width: 700px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block  { 
    padding: 12px 12px 14px;
  } 
}     

@media (max-width: 600px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block  { 
    flex: 1 0 calc(50% - 6px) !important;
  } 
}     

@media (max-width: 700px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block.rating-block  { 
    flex: 1 1 auto;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-buttons  { 
    flex: 1 1 120px;
  } 
}     

@media (max-width: 600px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-buttons  { 
    flex: 0 0 100%;
  } 
}     

@media (max-width: 700px){ 
  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block-label  { 
    margin-bottom: 8px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_rating  { 
    gap: 6px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_user-rating  { 
    font-size: 25px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_tip  { 
    width: 16px; 
    height: 16px; 
    line-height: 16px;
  } 

  .shortcode-wp_cr-table-style-23 .shortcode-wp_reviews-list .shortcode-wp_review-item .shortcode-wp_review-info-block .shortcode-wp_rating .shortcode-wp_cr-rating-stars  { 
    width: 17px; 
    height: 15px;
  } 
}