:root { 
    --cr-accent-color: #18c2ca; 
    --cr-accent-color-rgb: 24,194,202; 
    --cr-secondary-color: #9000be; 
    --cr-btn-text-color: #FFFFFF; 
} 

:root { 
    --ct-primary-color: #18c2ca; 
    --ct-accent-color: #9000be; 
    --ct-content-bg-color: #ffffff; 
    --ct-content-text-color: #1d1d1b; 
    --ct-content-link-color: #18c2ca; 
} 

@media all{ 
  .tns-ovh { 
    overflow: hidden;
  } 
}     

.tns-ovh  { 
    padding: 20px 0; 
    margin: -10px;
} 

@media all{ 
  :focus,:before,:after { 
    outline: 0; 
    box-sizing: inherit;
  } 
}     

.tns-inner  { 
    margin: 0px -5px 0px 10px !important;
} 

#tns1-iw { 
    margin: 0px -5px 0px 10px;
} 

@media all{ 
  .tns-slider { 
    -webkit-transition: all 0s; 
    -moz-transition: all 0s; 
    transition: all 0s;
  } 
}     

.profiles-slider  { 
    display: flex !important;
} 

@media all{ 
  .tns-horizontal.tns-subpixel { 
    white-space: nowrap;
  } 
}     

#tns1 { 
    font-size: 0px;
} 

#tns1 { 
    width: calc(600%); 
    transition-duration: 0.3s;
} 

@media (min-width: 36em){ 
  #tns1 { 
    width: calc(600%);
  } 
}     

@media (min-width: 48em){ 
  #tns1 { 
    width: calc(300%);
  } 
}     

@media (min-width: 61.25em){ 
  #tns1 { 
    width: calc(200%);
  } 
}     

@media all{ 
  .tns-slider > .tns-item  { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 

  .tns-horizontal.tns-subpixel > .tns-item  { 
    display: inline-block; 
    vertical-align: top; 
    white-space: normal;
  } 
}     

#tns1 > .tns-item  { 
    font-size: 16px;
} 

#tns1 > .tns-item  { 
    width: calc(16.6667%); 
    padding-right: 15px;
} 

.profile-item  { 
    box-shadow: 0 4px 4px 0 rgba(100,100,100,.25); 
    background-color: #fff; 
    height: 100%;
} 

.profile-item .profile-image-wrapper  { 
    position: relative;
} 

.profile-item .profile-item-content  { 
    padding: 20px; 
    height: calc(100% - 240px); 
    display: flex; 
    flex-direction: column;
} 

.profile-item .profile-image-wrapper .profile-label  { 
    position: absolute; 
    font-size: 14px; 
    right: 5px; 
    top: 5px; 
    border-radius: 4px; 
    z-index: 5; 
    padding: 3px 10px; 
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
} 

@media all{ 
  .profile-item .profile-image-wrapper .profile-label  { 
    padding: 0; 
    border-radius: 0; 
    right: 10px; 
    top: 10px;
  } 
}     

.partner-link { 
    cursor: pointer;
} 

.profile-item .profile-image-wrapper .partner-link  { 
    display: block; 
    transition: all 300ms ease 0s; 
    opacity: 1;
} 

.partner-link:not(.offer-title):not(.offer-logo):not(.offer-premium):not(.offer-site):not(.logo):not(.cr-offer-logo):not(.offer-title-col):not(.offer-name):not(.review-title):not(.review-promotion):not(.offer-thumb-title):not(.offer-rating):not(.cr-btn) { 
    color: var(--cr-accent-color); 
    font-weight: bold; 
    text-decoration: none;
} 

.cpm-profiles-style-9 .profile-item .profile-image-wrapper .partner-link:hover { 
    opacity: .8;
} 

.partner-link:not(.offer-title):not(.offer-logo):not(.offer-premium):not(.offer-site):not(.logo):not(.cr-offer-logo):not(.offer-title-col):not(.offer-name):not(.review-title):not(.review-promotion):not(.offer-thumb-title):not(.offer-rating):not(.cr-btn):hover { 
    text-decoration: underline;
} 

.profile-item .profile-name  { 
    font-size: 20px; 
    color: var(--ct-content-text-color); 
    font-weight: bold; 
    line-height: 1.5;
} 

.profile-item .profile-offer-online  { 
    color: var(--cr-accent-color); 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 1.25; 
    margin-bottom: 20px;
} 

.profile-item .profile-meta  { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px 25px; 
    margin-bottom: 20px;
} 

.profile-item .profile-button-wrap  { 
    margin-top: auto; 
    text-align: right;
} 

@media all{ 
  img { 
    max-width: 100%; 
    height: auto;
  } 

  .lazyloaded { 
    opacity: 1; 
    transition: opacity .3s;
  } 

  .alice-content-box img { 
    max-width: 100%; 
    height: auto; 
    display: inline-block;
  } 
}     

.profile-item .profile-image-wrapper .profile-image  { 
    width: 100%; 
    height: 240px; 
    object-fit: cover; 
    object-position: top; 
    border-radius: 0; 
    display: block;
} 

.profile-item .profile-name .partner-link  { 
    color: var(--ct-content-text-color) !important; 
    transition: all 300ms ease 0s;
} 

.cpm-profiles-style-9 .profile-item .profile-name .partner-link:hover { 
    color: var(--cr-accent-color) !important; 
    text-decoration: none !important;
} 

.profile-item .profile-offer-online .partner-link  { 
    color: var(--cr-accent-color) !important; 
    transition: all 300ms ease 0s; 
    font-weight: 400 !important;
} 

.cpm-profiles-style-9 .profile-item .profile-offer-online .partner-link:hover { 
    text-decoration: underline !important;
} 

.profile-item .profile-meta .profile-meta-item  { 
    display: flex; 
    align-items: center; 
    text-transform: capitalize;
} 

.profile-item .profile-meta .profile-meta-item.profile-meta-occupation  { 
    width: 170px;
} 

.profile-item .profile-meta .profile-meta-item.profile-meta-age  { 
    width: 70px;
} 

.profile-item .profile-meta .profile-meta-item.profile-meta-location  { 
/*    width: 170px;*/
} 

.profile-item .profile-meta .profile-meta-item.profile-meta-kids  { 
    width: 70px;
} 

@media all{ 
  button { 
    -webkit-appearance: button;
  } 
}     

.cr-btn { 
    display: inline-block; 
    padding: 10px 12px; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    text-decoration: none !important; 
    letter-spacing: normal; 
    white-space: nowrap; 
    transition: background .3s; 
    border: none; 
    cursor: pointer; 
    min-width: 110px; 
    background: var(--cr-accent-color); 
    color: var(--cr-btn-text-color); 
    outline: unset;
} 

.profile-item .profile-button.cr-btn  { 
    font-size: 16px; 
    padding: 8px 15px; 
    min-width: 130px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-transform: none; 
    gap: 5px; 
    font-family: var(--ct-font-main-family); 
    border-radius: 0;
} 

.cr-btn:hover { 
    background: rgba(var(--cr-accent-color-rgb), 0.75);
} 

@media all{ 
  .profile-item .profile-image-wrapper .profile-label .icon svg  { 
    width: 32px; 
    height: 32px;
  } 
}     

.profile-item .profile-meta .profile-meta-item .profile-meta-icon  { 
    width: 32px; 
    min-width: 32px; 
    height: 32px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 5px;
} 

.profile-item .profile-meta .profile-meta-item .profile-meta-icon svg  { 
    max-width: 100%;
} 

.profile-item .profile-meta .profile-meta-item .profile-meta-label  { 
    color: #b4b4b4; 
    line-height: 1.4; 
    font-size: 14px;
} 

.profile-item .profile-meta .profile-meta-item .profile-meta-value  { 
    font-size: 16px; 
    line-height: 1.25;
} 

@media (max-width: 576px){ 
  .profile-item .profile-image-wrapper .profile-image  { 
    object-position: 0 -75px;
  } 
}     


/* These were inline style tags. Uses id+class to override almost everything */
#tns1.style-1Bv5k {  
   transition-duration: 0s;  
    transform: translate3d(0%, 0px, 0px);  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#tns1.style-91lpw {  
   transition-duration: 0s;  
    transform: translate3d(0%, 0px, 0px);  
}  
